*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: url(https://i.ibb.co/0RkwyFRy/fundo-Login.png);
    background-size: cover;
    background-position: center;
}